**/*-checkpoint.ipynb
**/*.pyc
.vscode/

.venv/
**/.env*
!**/.env.example

data/*
!data/.gitkeep

notebooks/*
!notebooks/*.ipynb

**/*.log
**/nohup.out

**/.terraform*
**/*.tfstate*

# openapi.yaml files contain IP address
**/openapi.*.yaml
!**/openapi.example.yaml
# cert-issuer.yaml files contain email address
**/cert-issuer.*.yaml
!**/cert-issuer.example.yaml
